.message-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border: 2px solid;
  border-radius: 20px;
  border-color: green;
  box-shadow: 5px 5px 5px black;
}

#from_email_input:hover {
  background-color: rgba(132, 213, 235, 0.2);
}

#message_div:hover {
  background-color: rgba(132, 213, 235, 0.2);
}

.div-focus {
  background-color: rgba(132, 213, 235, 0.2);
}

#submit-btn {
  background-color: rgb(11, 224, 11);
  color: blue;
}

#submit-btn:hover {
  background-color: rgb(5, 68, 5);
  color: white;
}

#error-message {
  font-weight: bold;
}
